* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  background-image: url("../images/background.png");
  background-size: cover;
  min-height: 100vh;
  background-repeat: no-repeat;
}
