.details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back-link {
  margin-top: 30px;
  text-decoration: none;
  background-color: rgb(160, 32, 32);
  padding: 5px 20px;
  border: 1px solid black;
  border-radius: 8px;
  color: white;
  font-size: 18px;
}
